* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-color-100: #fff;
    --bg-color-200: #F2EAE4;
    --bg-color-300: #915E4C;
    --bg-color-400: #452D24;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
}

header {
    background-color: var(--bg-color-200);
    padding-block: 3rem;
}

nav ul {
    list-style: none;

    display: flex;
    gap: 5rem;

    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--bg-color-400);
    font-weight: 600;

}

#home {
    background-color: var(--bg-color-400);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home img {
    width: 144rem;
    height: 700px;
    object-fit: cover;
}

#about {
    display: flex;
    
    margin-top: 10rem;
    margin-inline: 11rem;
}

#about h2 {
    font-weight: 700;
    font-size: 6rem;
    color: var(--bg-color-400);

    margin-bottom: 5rem;
}

#about p {
    width: 50rem;    
    color: var(--bg-color-300);
    text-align: justify;

    margin-bottom: .5rem;
}

#about img {
    width: 55rem;
    height: auto;
}

