* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-color-100: #fff;
    --bg-color-200: #F2EAE4;
    --bg-color-300: #915E4C;
    --bg-color-400: #452D24;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
}

header {
    background-color: var(--bg-color-200);
    padding-block: 3rem;
}

nav ul {
    list-style: none;

    display: flex;
    gap: 5rem;

    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--bg-color-400);
    font-weight: 600;

}

#home {
    background-color: var(--bg-color-400);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home img, #home video {
    width: 144rem;
    height: 700px;
    object-fit: cover;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 10rem 11rem;
}

#about h2 {
    font-weight: 700;
    font-size: 6rem;
    color: var(--bg-color-400);

    margin-bottom: 5rem;
}

#about p {
    width: 50rem;    
    color: var(--bg-color-300);
    text-align: justify;

    margin-bottom: .5rem;
}

#about img {
    width: 55rem;
    height: auto;
}

#sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color-200);

    margin-inline: 11rem;
    padding: 7.2rem;
}

#sale h2 {
    font-weight: 700;
    font-size: 6rem;
    color: var(--bg-color-400);

    margin-bottom: 4rem; 
}

.galeria {
    display: flex;
    gap: 3.8rem;
}

.galeria .item {
    width: 33.2rem;
    height: 33.2rem;
    background-color: var(--bg-color-300);

    border-radius: 4rem;
}

#sale button {
    border: 0;
    border-radius: 4rem;
    background-color: var(--bg-color-400);

    color: var(--bg-color-200);
    font-size: 1.8rem;

    padding: 2.4rem 8rem;
    margin-top: 6rem;
}